@model NetApp.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="container">

    <!-- Portfolio Item Row -->
    <div class="row" style="padding-top:6rem;">
        <div class="col-md-6">
           
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.LargePhoto)"  width="450" height="300" />
            
            @*<img class="img-responsive" src="http://placehold.it/750x500" alt="">*@
        </div>
        <div class="col-md-6">
            <h1>@Model.Name</h1>
            <h3>Product Description</h3>
            <p>@Model.description</p>
            <h3>Product Details</h3>
            <ul>
                <li>Color: @Model.color</li>
                <li>Size:  @Model.size</li>
                <li>Weight:@Model.Weight</li>
                <li>$ @Model.listPrice.ToString("0.00")</li>
            </ul>

            <br /> 
            <div style="float:left">
                @using (Html.BeginForm())
                {
                <b>Quantity: </b> 
                 @Html.HiddenFor(m => m.ProductId);
                    

                    @Html.HiddenFor(m => m.PeopleAlsoBought);
                    var listItems = new List<SelectListItem>()
                    {
                        new SelectListItem{ Text="1", Value = "1" },
                        new SelectListItem{ Text="2", Value = "2" },
                        new SelectListItem{ Text="3", Value = "3" }
                    };

                    @Html.DropDownListFor(m => m.quantity, listItems, string.Empty)
                
                    <button type="submit" value="Buy" >Buy</button>
                
                    }
            </div>
            
        </div>
    </div>
  


    <div class="row" style="padding-top:6rem;">

        <div class="carousel slide" id="testing" data-ride="carousel" data-interval="0">
            <h2 style="padding-left:10px">People who bought this also bought</h2>
            <div class="carousel-inner">
                @for (int i = 10; i < Model.PeopleAlsoBought.Count; i = i + 4)
                {
                    if (i == 10)
                    {
                        <div class="item active">
                            @for (int j = i; j < i + 4 && j<Model.PeopleAlsoBought.Count; j++)
                            {
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <div class="thumbnail">
                                        <a href="@Url.Action("About", "Home",new { id = Model.PeopleAlsoBought[j].ProductId })">
                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.PeopleAlsoBought[j].LargePhoto)" />
                                        </a>
                                        <div class="caption">
                                            
                                            <h4>
                                                <a href="@Url.Action("About", "Home",new { id = Model.PeopleAlsoBought[j].ProductId })">@Model.PeopleAlsoBought[j].Name</a>
                                            </h4>
                                            <h4>$@Model.PeopleAlsoBought[j].listPrice.ToString("0.00")</h4>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    }
                    if (i != 10)
                    {
                        <div class="item">
                            @for (int j = i; j < i + 4 && j < Model.PeopleAlsoBought.Count; j++)
                            {
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <div class="thumbnail">

                                        <a href="@Url.Action("About", "Home",new { id = Model.PeopleAlsoBought[j].ProductId })">
                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.PeopleAlsoBought[j].LargePhoto)" />
                                        </a>
                                        <div class="caption">
                                            <h4>
                                                <a href="@Url.Action("About", "Home",new { id = Model.PeopleAlsoBought[j].ProductId })">@Model.PeopleAlsoBought[j].Name</a>
                                            </h4>
                                            <h4>$@Model.PeopleAlsoBought[j].listPrice.ToString("0.00")</h4>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    }
                }

            </div>
            <a class="left carousel-control" href="#testing" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#testing" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
       @if(null!=TempData["alertMessage"])
       {
           <script type="text/javascript">
               alert("@TempData["alertMessage"]");
           </script>
       }
    </div>
    <!-- /.row -->
</div>