@model NetApp.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <img  src="http://placehold.it/1140x300" alt="">
                    </div>
                </div>
                <br />
                <div class="row">
                    
                    <div class="carousel slide" id="MostPopularitems" data-ride="carousel" data-interval="0">
                        <h2 style="padding-left:10px">Most Popular Items</h2>
                        <div class="carousel-inner">
                            @for(int i=0;i<10;i=i+3)
                            {
                                if(i==0)
                                {
                                    <div class="item active">
                                        @for(int j=i;j<i+3;j++)
                                        {
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="thumbnail">
                                                    <a href="@Url.Action("About", "Home")">
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.modeldata[j].ThumbNailPhoto)" />
                                                    </a>
                                                    <div class="caption">
                                                        <h4 class="pull-right">$24.99</h4>
                                                        <h4>
                                                            <a href="#">@Model.modeldata[j].PhotoFileName</a>
                                                        </h4>
                                                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                                    </div>
                                                    <div class="ratings">
                                                        <p class="pull-right">15 reviews</p>
                                                        <p>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                if(i!=0)
                                {
                                    <div class="item">
                                        @for(int j=i;j<i+3;j++)
                                        {
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="thumbnail">
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.modeldata[j].ThumbNailPhoto)" />
                                                    <div class="caption">
                                                        <h4 class="pull-right">$24.99</h4>
                                                        <h4>
                                                            <a href="#">@Model.modeldata[j].PhotoFileName</a>
                                                        </h4>
                                                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                                    </div>
                                                    <div class="ratings">
                                                        <p class="pull-right">15 reviews</p>
                                                        <p>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                           
                            </div>
                        <a class="left carousel-control" href="#MostPopularitems" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#MostPopularitems" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        </div>
                    </div>

                <div class="row">

                    <div class="carousel slide" id="Recommended" data-ride="carousel" data-interval="0">
                        <h2 style="padding-left:10px">Recommended Items for You</h2>
                        <div class="carousel-inner">
                            @for (int i = 0; i < 10; i = i + 3)
                            {
                                if (i == 0)
                                {
                                    <div class="item active">
                                        @for (int j = i; j < i + 3; j++)
                                        {
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="thumbnail">
                                                    <a href="@Url.Action("About", "Home")">
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.modeldata[j].ThumbNailPhoto)" />
                                                    </a>
                                                    <div class="caption">
                                                        <h4 class="pull-right">$24.99</h4>
                                                        <h4>
                                                            <a href="#">@Model.modeldata[j].PhotoFileName</a>
                                                        </h4>
                                                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                                    </div>
                                                    <div class="ratings">
                                                        <p class="pull-right">15 reviews</p>
                                                        <p>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                if (i != 0)
                                {
                                    <div class="item">
                                        @for (int j = i; j < i + 3; j++)
                                        {
                                            <div class="col-sm-4 col-lg-4 col-md-4">
                                                <div class="thumbnail">
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.modeldata[j].ThumbNailPhoto)" />
                                                    <div class="caption">
                                                        <h4 class="pull-right">$24.99</h4>
                                                        <h4>
                                                            <a href="#">@Model.modeldata[j].PhotoFileName</a>
                                                        </h4>
                                                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                                                    </div>
                                                    <div class="ratings">
                                                        <p class="pull-right">15 reviews</p>
                                                        <p>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }

                        </div>
                        <a class="left carousel-control" href="#Recommended" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#Recommended" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                </div>
    </div>
</div>